*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

*.iml
*.apk
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build
*/build
/captures
.externalNativeBuild
/.idea/
/gradle/wrapper/gradle-wrapper.properties
gradle/
gradlew
gradlew.bat
/RLibrary2
/RLibrary
/apk
/RTbs
/RJpush
*.log
/RRealm

